@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import "../base/_variable.scss";
@import "../helpers/_breakpoints.scss";

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body {
    font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-size: 14px;
    color: #2b2b2b;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

// *::selection {
//     color: #fff;
//     background: #fe8c82;
// }

header,
footer,
.footer_memu {
    a {
        color: rgb(39, 39, 39);
        word-break: break-all;
        text-decoration: none;
    }
}

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}

::-webkit-scrollbar {
    display: none;
}

// 頭部
.head_logo {
    float: left;
    margin: 0;
    max-width: 316px;
    width: 100%;

    @include max(lg) {
        max-width: 293px;
    }
}

.logo_line {
    width: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 13px;
}

.esunlogo {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    @include min(xl) {
        height: 31px;
    }
}

.efingologo {
    display: inline-block;
    max-width: 108px;
    width: 100%;
    vertical-align: middle;
    margin-bottom: -10px;

    @include min(xl) {
        img {
            height: 34px;
        }
    }
}

header {
    .nav_wrap_m {
        display: none;
    }

    z-index: 10;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    background-color: #ffffff;
    height: auto;
   position: fixed;
    transition: .3s;
    box-shadow: 3px 3px 10px #d6edeb;
    .container {
        max-width: 1200px;
        width: 100%;
        margin: 6px auto;
        margin-top: 10px;
    }

    @include max(xl) {
        .container {
            padding: 0 30px;
        }
    }

    @include max(sm) {
        .container {
            padding: 0 14px;
        }

        .head_logo {
            float: none;
            max-width: 262px;
        }

        .esunlogo {
            max-width: 118px;
        }

        .logo_line {
            margin: 0px 10px;
        }

        .efingologo {
            max-width: 89px;
        }
    }
}


.target-burger {
    right: 0;
    top: 0;
    width: 3.25em;
    height: 3.25em;
    position: absolute;
    display: block;
    transition: all 0.5s ease;
}

.buns {
    width: 1.625em;
    height: 1.625em;
    list-style: none;
    margin: -0.8125em 0 0 -0.8125em;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateZ(0);
    color: #fff;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);

    li {
        width: 100%;
        height: 2px;
        background-color: #a2a2a2;
        position: absolute;
        top: 50%;
        margin-top: -0.75px;
        transform: translateY(-3.75px) translateZ(0);
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);

        &:last-child {
            transform: translateY(3.75px) translateZ(0);
        }
    }
}

nav {
    ul {
        list-style: none;
        position: relative;

        @include max(lg) {
            padding: 0;
        }

        li {
            font-size: 14px;
            margin: 0 10px;
            position: relative;

            @include max(lg) {
                margin: 0 5px;
            }

            a {
                transition: .3s;
                position: relative;
                overflow: hidden;
                // &::after{
                //     content: '';
                //     display: block;
                //     width: 100%;
                //     height: 2px;
                //     background: #009e96;
                //     position: absolute;
                //     bottom: -30px;
                //     transition: .3s;
                // }
            }

            &:hover {
                a {
                    font-weight: bold;
                    color: #009e96;
                }
            }
        }
    }
}

.btn_join {
    background: #009d95;
    color: #fff !important;
    padding: 8px 24px;
    border-radius: 4px;

    &:hover {
        color: #fff;
    }

    img {
        width: 10px;
        margin: 0 5px;
    }
}

// 數位服務選單
.nav_wrap_close {
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 3;
    width: 100%;
}

.function_ham {
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    cursor: pointer;

    img {
        display: block;
        width: 22px;
    }

    &:hover {
        span {
            background-color: #797979;
        }
    }
}

.function_ham span:after,
.function_ham span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

.function_ham span:after {
    top: 9px;
}

.function_ham span {
    position: relative;
    display: block;

}

.function_ham span {
    width: 100%;
    width: 22px;
    height: 4px;
    background-color: #b3b3b3;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
    margin-bottom: 4px;
}

.nav_wrap {
    overflow: hidden;
}

.function_nav {
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
    border-radius: 70px 0 0 70px;
    margin-right: 0;
    padding: 0px 28px;
    margin-top: 30px;
    transition: .3s;
    position: relative;

    ul {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            display: inline-block;

            vertical-align: middle;

            a {
                display: block;
                padding: 1em 8px;
                font-size: 18px;
            }
        }
    }

    @include max(xl) {
        margin-top: 12px
    }

}

.function_nav_close {
    transform: translateX(590px);
}

//arrow


.arrow {
    p {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #4d4d4d;
    }

    position: relative;
    transform: translateY(-80px);
}

.scroll-down {
    display: block;
    position: absolute;
    bottom: -68%;
    left: 50%;
    color: #fff;
    transform: translate(0, -50%);
    transition: opacity 0.5s;

    &::before {
        position: absolute;
        top: -22px;
        left: -22px;
        z-index: -1;
        content: '';
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
        border-radius: 100%;
        opacity: 0;
        animation: sdb 3s infinite;
        box-sizing: border-box;
    }

    &:after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 4px solid #009e96;
        border-bottom: 4px solid #009e96;
        transform: rotate(-45deg);
        box-sizing: border-box;
    }
}

.m_cta {
    display: none;

    @include max(md) {
        background: #F8524C;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        display: block;
        z-index: 2;
        padding: 10px;
        left: 0px;

        a {
            font-size: 18px;
            display: block;
            color: #fff;

            img {
                display: inline-block;
                width: 12px;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }

}



//gotop
.float_btn {
    position: fixed;
    max-width: 76px;
    width: 100%;
    right: 16px;
    bottom: 16%;
    z-index: 2;
    display: none;

    .float_btn_red {
        background-color: $hightlight-color2;
    }

    .float_btn_orange {
        background-color: $hightlight-color;
    }

    .float_action_btn {
        width: 76px;
        height: 76px;

        .break {
            display: block;
        }

        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 18px;
        margin: 8px auto;

        a {
            color: #fff;
        }
    }

    .action_icon_btn {
       
        img {
            display: block;
            max-width: 26px;
            width: 100%;
            margin: 0px auto 2px;
            height: 30px;
        }
    }

    @include max(md) {
        max-width: 50px;

        .float_action_group {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            .float_action_btn {
                width: 100%;
                height: inherit;
                border-radius: inherit;
                display: block;
                margin: 0;
                font-size: 16px;
                a{
                    padding: 16px 10px;
                    display: block;
                }
                .break {
                    display: none;
                }
                &:last-child{
                    border-left: 1px solid rgb(255, 255, 255);
                }
            }
        }


        .action_icon_btn {
           

            img {
                display: none;
            }
        }

    }

    @include max(sm) {
        right: 8px;

    }
}

#gotop {

    max-width: 50px;
    width: 100%;
    margin: 8px auto;

    text-align: center;
    cursor: pointer;


    img {
        max-width: 56px;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
        display: block;
        margin-top: 4px;
    }

    @include max(md) {
        max-width: 56px;

        img {
            max-width: 40px;
        }
    }
}

.store {
    display: none;

    @include max(lg) {
        text-align: center;
        margin: 30px 0 20px;
        display: block;
        text-align: center;

        a {
            display: inline-block;
            vertical-align: middle;

            img {
                max-width: 100px;
                width: 100%;
                display: block;
            }

            &:last-child {
                img {
                    max-width: 113px;
                }
            }

        }

    }


}

//footer
.footer_memu {
    background: #f7f7f7;

    .right_qr {
        max-width: 100px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;

        p {
            font-size: 14px;
            text-align: center;
            margin: 5px;
        }
    }

    .container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;



    }

    .left {
        max-width: 768px;
        width: 100%;
        display: inline-block;


        img {
            max-width: 170px;
            width: 100%;
            display: inline-block;
            vertical-align: middle;

        }

        .list {
            display: inline-block;
            max-width: 563px;
            vertical-align: middle;
            width: 100%;
            margin-left: 30px;

            p {
                display: inline-block;
                text-align: center;
                margin: 0 14px;
                font-size: 14px;

                span {
                    display: block;
                    font-size: 15px;
                    border-bottom: 1px solid #000;
                    padding-bottom: 8px;
                    margin-bottom: 8px;
                }
            }
        }
    }

    @include max(xl) {
        .left {
            .list {
                max-width: 511px;

                p {
                    margin: 0 5px;
                }
            }

            img {
                max-width: 140px;
            }
        }

        .container {
            padding: 30px 88px;
        }
    }

    @include max(lg) {
        .right_qr {
            display: none;
        }

        .container {
            display: block;
            padding: 20px 10px;
        }

        .left {
            display: block;
            padding: 20px 10px;
            margin: 0 auto;

            .list {
                display: block;
                margin: 0;
                text-align: center;
                max-width: 100%;

                p {
                    width: 86px;
                    margin: 10px 8px;
                    font-size: 14px;
                }
            }

            img {
                display: block;
                margin: 20px auto;
            }
        }
    }
}

.footerWarning {
    color: #555;

    .footerWarning_cont {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
        padding: 30px;
    }
}

.footerWarning_title {
    margin-bottom: 0.5em;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-align: center;

    @include min(lg) {
        float: left;
        font-size: 30px;
    }
}

.footerWarning_txt {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    margin: 0;

    @include min(lg) {
        margin-left: 350px;
    }

    @include max(lg) {
        text-align: center;
    }
}

footer {
    background: url(../img/footerBg.jpg) repeat-y center;
    color: #fff;

    @include max(md) {
        // margin-bottom: 50px;
    }

    .link {
        font-size: 13px;
        margin: auto;
        text-align: center;
        padding: 20px 0;
        line-height: 1.5;
        background: #4d4d4d;

        li {
            display: inline-block;
            letter-spacing: 0.05em;

            a {
                color: #fff;
            }
        }
    }

    .col-rate {
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
    }

    .top {
        background-color: #E9E9E9;

        a {
            color: #009d98;
        }

        .block {
            padding: 0 20px;

            ul {
                max-width: 1200px;
                margin: 0 auto;
                vertical-align: middle;
                padding: 0px;

                li {
                    display: inline-block;
                    margin: 20px 0;
                    color: #111111;
                }
            }
        }
    }
}



@media screen and (min-width: 801px) {


    nav {
        float: right;
        width: auto;

        ul {
            li {
                display: inline-block;
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .nav_wrap {
        position: absolute;
        bottom: calc(0px + 52px);
        width: 100%;
    }

    .nav_wrap_pc {
        display: none;
    }

    header {
        .nav_wrap_m {
            display: block;
        }
        .container{
            margin-top: 20px;
        }

    }

    .function_nav {
        text-align: center;
        background: transparent;
        max-width: 100%;
        padding: 0;

        &>p {
            font-size: 16px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: calc(100% / 2);
                text-align: center;
                margin: 0px !important;
                height: 80px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                border: 1px solid #fff;

                &:nth-child(1) {
                    background: rgba(255, 197, 23, 0.4);

                    a {
                        color: #ffc517;
                    }
                }

                &:nth-child(2) {
                    background: rgba(255, 197, 23, 0.2);

                    a {
                        color: #ffc517;
                    }
                }

                &:nth-child(3) {
                    background: rgba(0, 164, 239, 0.4);

                    a {
                        color: #00a4ef;
                    }
                }

                &:nth-child(4) {
                    background: rgba(237, 72, 72, 0.4);

                    a {
                        color: #ed4848;
                    }
                }

                &:nth-child(5) {
                    background: rgba(255, 153, 0, 0.4);

                    a {
                        color: #ff9900;
                    }
                }

                &:nth-child(6) {
                    background: rgba(0, 192, 139, 0.4);

                    a {
                        color: #00c08b;
                    }
                }
            }
        }
    }



    #header.on {

        top: 0!important;
    }

    #header {
        position: fixed;
        height: auto;
        padding-bottom: 5px;
    }

    #toggle {
        display: block;
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
        right: 15px;
        top: 0;
        position: absolute;
        display: block;
        transition: all 0.5s ease;

        span {
            position: relative;
            display: block;

        }
    }

    #toggle.on {
        span {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &::after {
                transform: rotate(-45deg) translate(7px, -8px);
            }
        }
    }

    #toggle span,
    #toggle span:after,
    #toggle span:before {
        width: 100%;
        height: 5px;
        background-color: #ddddde;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }

    #toggle span:after {
        top: 9px;
    }



    .main-nav {
        position: absolute;
        left: 0;
        top: 56px;
        z-index: 0;
        height: 100vh;
        width: 100%;
        opacity: 0;
        transform: scale(0);
        transition: all 0.5s ease;
        background: rgba(255, 255, 255, 0.98);

        &::before {
            content: '';
            display: block;
            background: url(../img/nav_line.png);
            width: 100%;
            height: 3px;
            background-size: 100% 100%;
        }

        ul.anchor {
            padding: 0;
            margin-top: 3vh;

            .btn_join {
                max-width: 155px;
                width: 100%;
                margin: 0 auto;
                font-size: 20px;

                img {
                    margin-bottom: 2px;
                    margin-left: 10px;
                }
            }

            li {
                margin: 7px;
                text-align: center;
                padding: 7px;

                a {
                    font-size: 16px;
                    display: block;

                    &:hover {
                        padding-left: 10px;
                    }
                }
            }
        }
    }



    .main-nav.on {
        display: block;
        z-index: 10;
        transform: scale(1);
        opacity: 1;
        transition: all 0.5s ease;
    }

}

@media screen and (max-width: 330px) {

    .main-nav ul.anchor li {
        margin: 0;
    }

    .function_nav ul li {
        height: 70px;
    }
}